# Dodo Payments Integration
DODO_API_KEY=your_dodo_api_key_here
DODO_WEBHOOK_SECRET=your_dodo_webhook_secret_here
DODO_ENV=sandbox # sandbox or live

# Redis Connection (Internal Docker default)
REDIS_HOST=redis
REDIS_PORT=6379

# Database Connection (Optional fallback to local SQLite)
DATABASE_URL_PAYMENT_SERVICE=
# JWT signing key (shared across microservices for signature checks)
JWT_SECRET_KEY=SDSAMKDSS4DA54DS1A2DAS54DSAD21S2D1SAD1SA2DSDSADDD54543742.2.10
